<!DOCTYPE html>
<html>
  <head>
    <title>Bitsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <script type="text/javascript">
    window.bitsyLogo = "<%= image_url('bitsy_pixel_logo.png') %>";
    window.cart = "<%= image_url('cart.png') %>";
    window.magIcon = "<%= image_url('mag_icon.png') %>";
    window.mountainSunset= "<%= image_url('mountain_sunset.png') %>";
    window.dratini = "<%= image_url('dratini.png') %>";
  </script>
  <body>
    <%= yield %>
  </body>
</html>
